*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    font-size: 18px;
}
.nv{
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}
.ne{
    margin: auto;
    width: 90%;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
#try{
    background-color: white;
    border-radius: 20px;
    padding: 10px 50px;
    box-shadow: 0px 3px 3px 0px hsla(192, 100%, 9%, 0.383);
    font-family: OpenSans-Bold;
    font-weight: 400;
}
#try:hover{
    background-color: rgba(255, 255, 255, 0.294);
    cursor: pointer;
}
#st{
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.148);
}
#st:hover{
    background-color: hsla(322, 100%, 66%, 0.818);
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: space-between;
    column-gap: 120px;
    align-items: center;
    padding-bottom: 40px;
}
.col1{
    width: 45%;
    justify-content: center;
    align-items: center;
}
.col2{
    width: 55%;
}
.image img{
    width: 600px;
}
@font-face {
    font-family: OpenSans-Bold;
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: PoppinsBold;
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: OpenSans-Light;
    src: url(OpenSans-Light.ttf);
}
h1{
    font-weight: 700;
    font-family: OpenSans-Bold;
    font-size: xx-large;
    color: hsl(192, 100%, 9%);
}
#ft{
    font-weight: 400;
    font-family: OpenSans-Regular;
}
#st{
    padding: 12px 0px;
    text-align: center;
    border-radius: 20px;
    color: hsl(193, 100%, 96%);
    font-family: OpenSans-Regular;
    margin: 10px 250px 0px 0px;
}
.row1{
    display: flex;
    border: 1px solid white;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.148);
    border-radius: 10px;
    padding: 40px 0px;
    column-gap: 150px;
}
.col3, .col5{
    padding-left: 100px;
}
.col4{
    padding-right: 30px;
}
.col4 img, .col5 img{
    width: 400px;
}
h2{
    font-family: PoppinsBold;
    font-weight: 600;
    color: hsl(192, 100%, 9%);
}
.p1{
    font-family: OpenSans-Regular;
    color: hsl(208, 11%, 55%);
}
.row2{
    display: flex;
    border: 1px solid white;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.148);
    border-radius: 10px;
    padding: 40px 0px;
    column-gap: 150px;
}
.row3{
    width: 50%;
    border: 1px solid white;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.148);
    margin-top: 120px;
    position: absolute;
    left: 25%;
    background-color: white;
    padding: 0px 10px 40px 10px;
    
}
.bnh h2{
    margin-top: 50px;
}
.bn p{
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-weight: 400;
    font-family: OpenSans-Bold;
    border-radius: 30px;
    padding: 15px 0px;
    margin: 10px 180px;    
    box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.47);
}
.bn p:hover{
    background-color: hsla(322, 100%, 66%, 0.818);
    cursor: pointer;
}
footer{
    background-color: hsl(192, 100%, 9%);
    padding-top: 180px;
    position: relative;
    z-index: -1;
    margin-top: 240px;
}

.row4{
    display: flex;
    width: 90%;
    margin: auto;
}
.row5{
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 40px;
}
ul{
    list-style: none;
    font-family: OpenSans-Light;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.col10{
    display: flex;
    column-gap: 15px;
    padding-top: 15px;
}
.row12{
    width: 28%;
    margin-left: 950px;
}
span{
    font-family: OpenSans-Light;
}
i .fa-regular.fa-copyright:hover{
    cursor: pointer;
}
.col7{
    width: 60%;
}
.col8, .col9, .col10{
    margin-right: 60px;  
}
.col8 li, .col9 li, .col10 li{ 
    padding-bottom: 10px;
}

@media screen and (max-width: 375px){

    nav img{
        width: 140px;
        height: 30px;
    }
    nav #try{
       padding: 5px 20px;
    }
    .row{
        display: block;
    }
    .col1{
        align-items: center;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
    }
    .col1 h1{
        width: 100%;
    }
    #st{
        margin: 10px 15px 50px 10px;
    }
    .image img{
        width: 340px;
        margin: auto;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .row1{
        display: flex;
        flex-direction: column-reverse;
        row-gap: 60px;
    }
    .col3, .col6{
        padding: 0;
        text-align: center;
        width: 90%;
        margin: 0;
    }
    .col4{
        width: 90%;
    }
    .col4 img{
        width: 100%;
        padding: 0;
        margin-left: 10px;
    }
    .row2{
        display: flex;
        flex-direction: column;
        row-gap: 60px; 
    }
    #r2{
        display: flex;
        flex-direction: column-reverse; 
    }
    .col5 img{
        padding: 0;
        width: 90%;
        margin-left: 15px;
    }
    .col5{
        padding: 0px;
    }
    .row3{
        left: 5%;
        width: 85%;
        box-shadow: 0px 0px 5px 0px hsla(192, 100%, 9%, 0.568);
    }
    .bnh h2{
        font-size: large;
       
    }
    .bn p{
        margin: 15px 20px;
    } 
    .row5{
        display: flex;
        flex-direction: column;
    }
    .row12{
        margin: auto;
        width: 80%;
        padding-top: 30px;
        padding-left: 40px;
    }
    .col10{
        width: 25%;
        margin: auto;
    }
    span{
        font-size: small;
    }
    .row6{
        display: flex; 
    }
    .col7{
        padding-right: 150px;
    }
    .lor{
        margin-right: -170px;
        margin-top: -170px;
        margin-left:30px;
        font-size: large;
    }
    .num, .em{
        margin-right: -70px;
        margin-left: 30px;
        margin-top: 2px;
    }
    .col8 ul{
        margin-right: -70px;
    }
    .col8 ul li {
        padding: 0px 0px 10px 0px;
    }
    .col9 ul{
        margin-right: -70px;
        margin-top: -20px;
    }
    .col9 ul li{
        padding: 0px 0px 10px 0px;
    
    }
}
