*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.sec1{
    background-image: url(bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
}
nav{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;
}

@font-face {
    font-family: "OpenSans";
    src: url(OpenSans-Bold.ttf);
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url(OpenSans-SemiBold.ttf);
}
.navlink a{
    text-decoration: none;
    background-color: white;
    color: hsl(192, 100%, 9%);
    font-family: "OpenSans";
    /* border: 1px solid black; */
    padding: 10px 60px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(219, 217, 217, 0.598);
}
.navlink a:hover{
    background-color: rgba(255, 255, 255, 0.671);
    cursor: pointer;
}
.row{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    align-items: center;
    margin-left: 80px;
    padding: 20px 0px;
    column-gap: 150px;
}
.column1{
    /* border: 1px solid black; */
    width: 30%;
    padding-right: 0px;
    margin-left: 20px;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(Poppins-SemiBold.ttf);
}
@font-face {
    font-family: "Poppins-Light";
    src: url(Poppins-Light.ttf);
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(Poppins-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(OpenSans-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(OpenSans-Light.ttf);
}
h1{
    font-family: "Poppins-SemiBold";
    font-weight: 700;
    /* border: 1px solid black; */
    padding: 5px 10px 0px 0px ;
    color: hsl(192, 100%, 9%);
    font-size: xx-large;
}
p{
    font-weight: 400;
    font-family: "Poppins-Regular";
    font-size: 16px;
    /* border: 1px solid black; */
    padding-top: 20px;
    color: hsl(192, 100%, 9%);
}
.column2 img{
    width: 600px;
    height: 400px;
}
.column2{
    /* border: 1px solid black; */
    width: 60%;
    margin-right:60px;
    padding-left: 0px;
}
.ctn{
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    padding: 15px 10px;
    margin-right: 140px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    border: none;
    font-family: "OpenSans-SemiBold";
    font-weight: 400;
    font-size: small;
}
.ctn:hover{
    background-color: hsla(322, 100%, 66%, 0.671);
    cursor: pointer;
}
.row2{
    display: flex;
    background-color: white;
    width: 80%;
    border: 5px solid white;
    margin-left: 140px;
    column-gap: 30px;
    padding: 60px 30px 60px 30px;
    margin-top: 140px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164); 
}
.column3{
    padding-left: 70px;
    padding-top: 80px;
    margin-right: 10px;
}
.column4 img{
    width: 400px;
    height: 300px;
    margin-left: 35px;
    padding-left: 30px;
}
#p2{
    font-weight: 400;
    color: hsl(208, 11%, 55%);
}
.row3{
    display: flex;
    background-color: white;
    width: 80%;
    border: 5px solid white;
    margin-left: 140px;
    column-gap: 50px;
    padding: 60px 30px 60px 30px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
}
.column5 img{
    width: 400px;
    height: 300px;
    margin-right: 20px;
    padding-left: 40px;
}
.column6{
    padding-left: 50px;
    padding-top: 80px;
}
#h3{
    color: hsl(192, 100%, 9%);
    font-weight: 700;
}
.row5{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 140px 300px -100px 300px;
    background-color: white;
    z-index: 2;
    position: relative;
}
.row4{
    display: flex;
    background-color: white;
    width: 80%;
    border: 5px solid white;
    margin-left: 140px;
    column-gap: 30px;
    padding: 60px 30px 60px 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
}
#btn p{
    color: white;
    background-color: hsl(322, 100%, 66%);
    border-radius: 30px;
    border: 1px solid black;
    padding-bottom: 20px;
    border: none;
    margin: 30px 200px 0px 200px;
    box-shadow: 0px 3px 3px 3px rgba(26, 24, 24, 0.101);
}
#btn p:hover{
    cursor: pointer;
    background-color: hsla(322, 100%, 66%, 0.671);
}
footer{
    background-color: hsl(192, 100%, 9%);
    height: 500px;
    z-index: 1;
}
.row7{
    display: flex;
    padding-top: 150px;
    margin-left: 150px;
}
.columnfoot{
    margin-right: -180px;
}
.columnfoot2 h1{
    color: white;
    font-weight: 600;
}

.column12{
    margin-bottom: 200px;
    margin-top: 10px;
}
#p3{
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Regular";
}
#first{
    padding: 0px 10px 10px 10px;
    margin: 0px 5px 10px 150px;
    list-style: none;
}
#frst{
    padding: 0px 10px 0px 10px;
    margin: 20px 0px 50px 150px;
    list-style: none;
}
#fist{
    padding: 20px 10px 0px 10px;
    margin: 5px 5px 25px 150px;
    list-style: none;
}
.row8{
    display: flex;
    padding-top: -300px;
    margin-bottom: -100px;
    height: 280px;
}
.column13{
    margin-right: 20px;
}
#second{
    padding: 5px 10px 10px 10px;
    margin: 20px 40px 5px 5px;
    list-style: none;
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Light";
    font-size: 18px;
}
#third{
    padding: 5px 0px 10px  10px;
    list-style: none;
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Light";
    font-size: 18px;
}
#thrd{
    padding: 15px 0px 10px  10px;
    list-style: none;
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Light";
    font-size: 18px;
}
.column14{
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 300px;
}
.fourth{
    padding-top: 10px;
    list-style: none;
    margin-right: 30px;
    padding-right: 50px;
    padding-left: 50px;
    white-space: nowrap;
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Light";
    font-size: 18px;
}
.fourth:hover{
    text-decoration: underline;
    cursor: pointer;
}
.column15{
    margin-top: 10px;
    margin-bottom: 300px;
    margin-right: 70px;
}
.fifth{
    padding-top: 10px;
    list-style: none;
    white-space: nowrap;
    color: white;
    font-weight: 400;
    font-family: "OpenSans-Light";
    font-size: 18px;
    margin-right: 50px;
}
.column16{
    margin-top: 30px;
    display: flex;
    column-gap: 5px;
    margin-right: 200px;
    margin-left: 80px;   
}
.column16{
    display: flex;
}
i{
    padding: 0px 5px;
}

#p4{
    color: white;
    font-family: "OpenSans-Light";
    font-size: 16px;
    font-weight: 400
}
.row12{
    display: flex;
    margin-left: 900px;
}
.fa-regular.fa-copyright{
    padding-top: 15px;
}


/* media */
@media screen and (max-width:375px){
    .sec1{background-image: url("bg-hero-mobile.svg");
        background-color: hsl(193, 100%, 96%);
        width: 100%;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 20px;
    }
    img{
        width: 120px;
        height: 20px;
    }
    .navlink a{
        padding: 5px 20px;
    }
    .row{
        flex-direction: column;
        margin-left: 0px;
        margin-top: 40px;
    }
    .column1{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0px 10px;
    }
    .column1 h1{
        font-size: x-large;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 10px;
    }
   .ctn{
    margin-right: 90px;
    padding: 15px 10px 15px 10px;
    margin-left: 60px;
   }
   .nw{
    margin-right: 30px;
    margin-left: 10px;
   }
   .column2 img{
    width: 300px;
    height: 220px;
   }
   .column2{
    margin-right:80px;
    padding-top: 20px;
   }
   .row2{
    flex-direction: column-reverse;
   }
   .column4 img{
    width: 250px;
    height: 200px;
    margin-left: 15px;
    margin-top: 50px;
   }
   .row2{
    background-color: white;
    width: 85%;
    border: 5px solid white;
    margin-left: 28px;
    padding: 5px 0px 5px 0px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);   
    }
    #h3{
    color: hsl(192, 100%, 9%);
    font-weight: 700;
    font-size: large;
    text-align: center;
    margin-right: 50px;
    margin-top: -10px;
    }
    #p2{
        font-weight: 400;
        color: hsl(208, 11%, 55%);
        font-size: small;
        text-align: center;
        margin: 0px 0px 20px -50px;
    }
    .row3{
        flex-direction: column;
        background-color: white;
        width: 85%;
        border: 5px solid white;
        margin-left: 28px;
        padding: 5px 0px 5px 0px;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
    }
    .column5 img{ 
    width: 280px;
    height: 200px;
    margin-left: 0px;
    margin-top: 50px;
    }
    .column6{
        text-align: center;
    }
    #h3{
        color: hsl(192, 100%, 9%);
        font-weight: 700;
        margin: 0px 30px 0px 0px;
    }
    
    .row4{
        flex-direction: column-reverse;
        background-color: white;
        width: 85%;
        border: 5px solid white;
        margin-left: 28px;
        column-gap: 30px;
        padding: 5px 0px 5px 0px;
        margin-top: 30px;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
    }

    .row5{
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 0px 0px 3px 3px rgba(217, 209, 209, 0.164);
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 90px 10px -70px 10px;
        background-color: white;
        z-index: 2;
        position: relative;
    }

    #btn p{
        color: white;
        background-color: hsl(322, 100%, 66%);
        border-radius: 30px;
        padding-bottom: 10px;
        border: none;
        margin: 20px 50px 0px 50px;
        box-shadow: 0px 3px 3px 3px rgba(26, 24, 24, 0.101);
        padding-top: 10px;
    }
    .row5 h1{
        font-size: large;
    }
    footer{
        height: 1000px;
        z-index: 1;
    }
    .row7{
        flex-direction: column;
        padding-top: 150px;
        margin-left: 10px;
    }
    .columnfoot{
        margin-right: 340px;
    }
    .columnfoot2 h1{
        color: white;
        font-weight: 600;
        margin-right: 200px;
        margin-left: 30px;
        margin-top: -45px;
    }
    .row8{
        flex-direction: column;
        padding-top: 0px;
        margin-bottom: 10px;
        height: 280px;
    }
    .column12{
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;

    }
    .lst img{
        width: 20px;
    }
    #frst{
        list-style: none;
        padding: 0px 0px 0px 5px;
        margin: 20px 0px 40px 10px;

    }
    #fist{
        padding: 20px 0px 20px 5px;
        margin: 20px 0px 50px 10px;
        list-style: none;
    }
    #first{
        padding: 0px 0px 0px 5px;
        margin: 0px 0px 50px 10px;
        list-style: none;
    }
    #second{
        padding: 5px 10px 10px 20px;
        margin: -265px 0px 5px 35px;
        list-style: none;
        color: white;
        font-weight: 400;
        font-family: "OpenSans-Light";
        font-size: 18px;
    }
    #third{
        padding: 5px 10px 10px  10px;
        list-style: none;
        color: white;
        font-weight: 400;
        font-family: "OpenSans-Light";
        font-size: 18px;
        margin: 0px 0px 40px 45px;
    }
    #thrd{
        padding: 10px 10px 10px  5px;
        list-style: none;
        color: white;
        font-weight: 400;
        font-family: "OpenSans-Light";
        font-size: 18px;
        margin: 10px 0px 0px 45px;
    }

    .column14{
        margin-top: 0px;
        /* margin-right: 100px; */
        margin-bottom: 0px;
    }
    .fourth{
        padding-top: 10px;
        list-style: none;
        margin-right: 30px;
        padding-right: 50px;
        padding-left: 15px;
        white-space: nowrap;
        color: white;
        font-weight: 400;
        font-family: "OpenSans-Light";
        font-size: 18px;
    }
    .column15{
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 70px;
    }
    .fifth{
        padding-top: 10px;
        list-style: none;
        white-space: nowrap;
        color: white;
        font-weight: 400;
        font-family: "OpenSans-Light";
        font-size: 18px;
        margin-right: 50px;
        padding-left: 15px;
    }
    .column16{
        margin-top: 60px;
        flex-direction: row;
        
        margin-right: 10px;
        margin-left: 130px;   
    }
    .fa-brands.fa-facebook, .fa-brands.fa-twitter, .fa-brands.fa-instagram{
        padding: 0px 0px 0px 0px;
        margin-left: 10px;
    }
    
    #p4{
        color: white;
        font-family: "OpenSans-Light";
        font-size: 16px;
        font-weight: 400
    }
    .row12{
        display: flex;
        margin-left: 20px;
        margin-top: 300px;
    }
    .fa-regular.fa-copyright{
        padding-top: 15px;
        color: white;
    }

}











